.tm-sidebar-left
{
    width: 240px !important;
    position: fixed;
    top: 80px;
    bottom: 0;
    padding: 40px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
}

.tm-nav .uk-nav-header
{
    padding: 8px 0;
    border-bottom: 1px #e5e5e5 solid;
}

@media all and (min-width: 960px)
{
    .pad-m
    {
        padding-left: 340px !important;
        padding-right: 240px !important;
    }
}

table
{
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}
th
{
    text-align: left;
    border: 1px solid #e5e5e5;
    padding: 0.5em;
}
td
{
    border: 1px solid #e5e5e5;
    padding: 0.5em;
}
